# Credenciais e segredos — NUNCA versionar
**/*.tfvars
!**/*.tfvars.example

# Artefatos gerados pelo Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup

# Chaves SSH
*.pem
*.key
.ssh/
lab-devops

# Ansible
ansible/inventory.ini

# Sistema
.DS_Store
