# Credenciais e segredos — NUNCA versionar
terraform/terraform.tfvars
terraform/*.tfvars

# Artefatos gerados pelo Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Chaves SSH
*.pem
*.key
.ssh/
lab-devops

# Ansible
ansible/inventory.ini

# Sistema
.DS_Store
